/* your styles go here */
.margin-top-10 {
    margin-top: 10px;
}

.margin-top-30 {
    margin-top: 30px;
}
.box-max-height {
    max-height: 150px;
    overflow-y: auto;
}
.box-min-height {
    min-height: 150px;
}
.badge.box-badge {
    border-radius: 50%;
    height: 1.3rem;
    width: 1.3rem;
    line-height: 0.9rem;
    position: relative;
    margin: -17px 0px 0px -5px;
    font-size: 0.7rem;
}