<?php
session_start();

if(isset($_SESSION['logado']) &&  $_SESSION['logado'] == true):
    header("Location: ../admin");
endif;

?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Material Admin by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../admin-bs/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="../admin-bs/css/fontastic.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../admin-bs/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="../admin-bs/https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../admin-bs/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../admin-bs/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../admin-bs/favicon.png">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="../admin-bs/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="../admin-bs/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>Dashboard</h1>
                            </div>
                            <p>Aqui você será capaz de gerênciar todos seus dados.</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form id="login-form" class="form-horizontal" role="form" action="../../Controller/LogController.php" method="post">
                                <div class="form-group">
                                    <input id="userEmail" type="email" name="userEmail" required="" class="input-material">
                                    <label for="userEmail" class="label-material">Email</label>
                                </div>
                                <div class="form-group">
                                    <input id="userPassword" type="password" name="userPassword" required="" class="input-material">
                                    <label for="userPassword" class="label-material">Senha</label>
                                    <div id="login-alert" class="alert alert-dismissible margin-top-10 bg-red" hidden>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="icon fa fa-warning small"></i> <b id="mensagem"></b>
                                    </div>
                                </div><a id="btn-login" href="#" class="btn btn-primary">Login</a>
                                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                            </form>
                            <div class="margin-top-10">
                                <a href="../admin-bs/#" class="forgot-pass">Esqueceu a Senha?</a><br>
                                <small>Você não possui uma conta? </small><a href="../admin-bs/register.html" class="signup">Cadastre-se</a>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="copyrights text-center">
            <p>Design by <a href="../admin-bs/https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </div>
    <!-- Javascript files-->
    <script src="../resources/admin/js/vendor/jquery.min.js"></script>
    <script src="../resources/admin/js/vendor/popper.js/umd/popper.min.js"></script>
    <script src="../resources/admin/js/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../resources/admin/js/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="../resources/admin/js/jquery-validation/jquery.validate.min.js"></script>
    <script src="../resources/admin/js/js/front.js"></script>
    <script src="../resources/admin/main/login.js"></script>

</body>
</html>