<?php
session_start();

if(!isset($_SESSION['logado']) && !$_SESSION['logado']):
header("Location: ../admin/login");
endif;

?>

<h1 class="h4"><?= $_SESSION['nome'] ?></h1>
<li class="nav-item"><a href="admin/logout" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>

