<!DOCTYPE html>
<html lang="en">
<head>
  <title>Filipe Cruz :: Engenheiro de Computação </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Atualmente atuo como Desenvolvedor de Sistemas Computacionais na Fundep. Engenheiro de computação graduado pela PUC MG.">
  <meta name="keywords" content="Desenvolvedor Web, Engenheiro de Computação, Desenvolvedor de Sistemas">
  <meta name="author" content="Filipe Cruz">
  <link rel="stylesheet" href="../resources/site/css/main.css">
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="../resources/site/img/logo.png" alt="Filipe Cruz">
    <p>Filipe Cruz</p>
  </a>
  <p class="device-notification--message">Para oferecer-lhe uma melhor experiência, oriente o seu dispositivo ou tente acessar de uma tela maior. Você não ficará desapontado.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img src="../resources/site/img/logo.png" alt="Filipe Cruz">
            <p>Filipe Cruz</p>
          </a>
          <button class="header--cta cta">Contato</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>Sobre</span></li>
            <li><span>Experiência</span></li>
            <li><span>Portfólio</span></li>
            <li><span>Contato</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Expertise<br>em entregar<br>o melhor</h1>
                <button class="cta">Contato
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
                <img src="../resources/site/img/introduction-visual.png" alt="Welcome">
              </div>
              <div class="intro--options">
                <a href="#0">
                  <h3>Full-Stack Developer</h3>
                  <p>Desenvolvedor Front-End e Back-End, em diversas linguagens.</p>
                </a>
                <a href="#0">
                  <h3>Computer Engineer</h3>
                  <p>Graduado pela PUC MG. Flexibilidade, criatividade e paixão.</p>
                </a>
                <a href="#0">
                  <h3>Liderança</h3>
                  <p>Habilidade de motivar de forma ética e positiva as pessoas.</p>
                </a>
              </div>
            </div>
          </li>
          <li class="l-section section">
              <div class="about">
                  <div class="about--banner">
                      <h2>Biografia</h2>
                      <p>Atualmente atuo como Desenvolvedor de Sistemas Computacionais na Fundep. <br>
                          Engenheiro de computação graduado pela PUC MG. Pai do Erick e noivo da Fabíola. </br>
                          Apaixonado por tecnologia, pela vida e pelas pessoas.</p>
                          <h3></h3>
                      <img src="../resources/site/img/about-visual.png" alt="About Us">
                  </div>
                  <div class="about--options">
                      <a href="#0">
                          <h3>Família</h3>
                      </a>
                      <a href="#0">
                          <h3>Amor</h3>
                      </a>
                      <a href="#0">
                          <h3>Exército</h3>
                      </a>
                      <a href="#0">
                          <h3>Mascote</h3>
                      </a>
                  </div>
              </div>
          </li>
          <li class="l-section section">
              <div class="experience">
                      <img src="../resources/site/img/marker.svg" class="agencia-life">
                      <img src="../resources/site/img/marker.svg" class="geomx">
                      <img src="../resources/site/img/marker.svg" class="tagplus">
                      <img src="../resources/site/img/marker.svg" class="fundep">
                      <img src="../resources/site/img/marker.svg" class="_2ck">
                      <img src="../resources/site/img/marker.svg" class="ductor">
                      <img src="../resources/site/img/marker.svg" class="tribus">
              </div>
              <div class="contact">
                  <div class="contact--lockup">
                      <div class="modal">
                          <div class="modal--information">
                              <p style="margin-bottom: -10px;text-align: center;">De 01/2018 a Atual</p>
                              <h3>FUNDEP - Fundação de Desenvolvimento da Pesquisa</h3>
                              <p style="text-align: center;margin-top: -10px;">Desenvolvedor de Sistemas Pleno</p>
                              <p>Responsável por desenvolver e aplicar melhorias no portal da UFMG e diversos outros sistemas vinculados.
                                  Habituado com MySQL, Zend Framework 2, PHP, Doctrine, Git, API's e Front-end (Angular, JavaScript, JQuery, Ajax, HTML, CSS).
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </li>
          <li class="l-section section">
            <div class="work">
                  <h2>Alguns Trabalhos</h2>
                  <div class="work--lockup">
                      <ul class="slider">
                          <li class="slider--item slider--item-left">
                              <a href="http://www.rwengenharia.eng.br/" target="_blank">
                                  <div class="slider--item-image">
                                      <img src="../resources/site/img/rw-engenharia.jpg" alt="Victory">
                                  </div>
                                  <p class="slider--item-title">RW Engenharia</p>
                                  <p class="slider--item-description">Desenvolvimento de site responsivo e a otimização SEO.</p>
                              </a>
                          </li>
                          <li class="slider--item slider--item-center">
                              <a href="https://www.promaxrio.com.br/" target="_blank">
                                  <div class="slider--item-image">
                                      <img src="../resources/site/img/promax-rio.jpg" alt="Metiew and Smith">
                                  </div>
                                  <p class="slider--item-title">Promax Rio</p>
                                  <p class="slider--item-description">Desenvolvimento de Loja virtual e Front-End.</p>
                              </a>
                          </li>
                          <li class="slider--item slider--item-right">
                              <a href="http://medicinaortomolecularbh.com.br/" target="_blank">
                                  <div class="slider--item-image">
                                      <img src="../resources/site/img/medicina-ortomolecular.jpg" alt="Medicina Ortomolecular">
                                  </div>
                                  <p class="slider--item-title">Medicina Ortomolecular</p>
                                  <p class="slider--item-description">Desenvolvimento de site responsivo e a otimização SEO.</p>
                              </a>
                          </li>
                      </ul>
                      <div class="slider--prev">
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                      </div>
                      <div class="slider--next">
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                      </div>
                  </div>
              </div>
          </li>
          <li class="l-section section">
            <div class="hire">
              <h2>Contato</h2>
              <!-- checkout formspree.io for easy form setup -->
              <form class="work-request">
                  <div class="work-contact">
                      <p><img src="../resources/site/img/whatsapp-white.svg"> 31 97500 1508</p>
                      <p><img src="../resources/site/img/email-white.svg"> fmbcruz@live.com</p>
                      <p class="social"><a href="https://web.facebook.com/filipe.miranda.585" target="_blank"><img src="../resources/site/img/facebook-white.svg"></a>     <a href="https://www.linkedin.com/in/filipe-cruz-466aaa79/" target="_blank"><img src="../resources/site/img/linkedin-white.svg"></a></p>
                  </div>
<!--                <div class="work-request--information">-->
<!--                  <div class="information-name">-->
<!--                    <input id="name" type="text" spellcheck="false">-->
<!--                    <label for="name">Nome</label>-->
<!--                  </div>-->
<!--                  <div class="information-email">-->
<!--                    <input id="email" type="email" spellcheck="false">-->
<!--                    <label for="email">E-mail</label>-->
<!--                  </div>-->
<!--                  <div class="information-message">-->
<!--                    <input id="message" type="text" spellcheck="false">-->
<!--                    <label for="message">Mensagem</label>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <input type="submit" value="Send Request">-->
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active">Home</li>
    <li>Sobre</li>
    <li>Experiência</li>
    <li>Portfólio</li>
    <li>Contato</li>
  </ul>
</div>

<script>window.jQuery || document.write('<script src="../resources/site/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="../resources/site/js/functions-min.js"></script>
<script src="../resources/site/js/experience.js"></script>
</body>
</html>
